fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic[email]
python-dotenv
google-generativeai>=0.8.0
slowapi

# 테스트
pytest
httpx
